@using WebAppMaterialize.App.Services
@using DataTools;

<div>
    <p>For a proper recommendation please try the Pro™ version.</p>
    <button class="btn grey darken-3" onclick="@(() => UpdateStatePage(StatePage.Review))">Back</button>
    <button class="btn orange darken-3" onclick="@(() => UpdateStatePage(StatePage.Upload))">Next</button>
</div>

@functions
{
[Parameter] public Action<StatePage> UpdateStatePage { get; set; }
[Parameter] public FileObject FileObject { get; set; }
}