@using DataTools;

<p>
    <label>
        <input type="checkbox" class="filled-in" bind="BindValue" />
        <span>@CheckboxTitle</span>
    </label>
</p>

@functions
{
    [Parameter] protected bool BindValue { get; set; }
    [Parameter] protected string CheckboxTitle { get; set; }    
}