@using DataTools
@using RecognizerTools
<!--
    <canvas ref="CanvasElementRef" id="graph"></canvas>
-->
<div class="row">
    <canvas id="pieGraph"></canvas>
</div>

<div class="row">
    <canvas id="bar-graph-id"></canvas>
</div>
        
<div class="row">
    <canvas id="horizontal-bar-id"></canvas>
</div>




@*<canvas id="radarGraph"></canvas>*@

@functions
{

    [Parameter] protected ColumnMetadata ColumnMetadata { get; set; }
    [Parameter] protected SecondAnalysisResult SecondAnalysisResult { get; set; }

    protected override void OnAfterRender()
    {
        base.OnAfterRender();
        ChartJSInterop.InitializePieChart("pieGraph", ColumnMetadata.TotalNonNullRecords, ColumnMetadata.TotalNulls);

        //if(SecondAnalysisResult != null)
        //    ChartJSInterop.InitializeRadarChart("radarGraph", ProcessProbabilityDic().Count > 2 ? ProcessProbabilityDic() : null);
    }

    //List<(string, float)> ProcessProbabilityDic()
    //{
    //    var probList = new List<(string, float prob)>();
    //    foreach (var kvp in SecondAnalysisResult.DataTypeToRecognizerTypeMap)
    //    {
    //        if (SecondAnalysisResult.ProbabilityDictionary.TryGetValue(kvp.Value, out float prob) && prob > MIN_PROB)
    //        {
    //            probList.Add((kvp.Key.ToString(), prob));
    //        }
    //    }
    //    return probList;
    //}
}