@using DataTools;

	Total Records: @String.Format("{0,15:N0}", FileObject.TotalRecords)
	<div class="sample">
		File Size (Mbs): @String.Format("{0,15:N0}", FileObject.FileSize) -
		Total Columns: @FileObject.TotalColumns
	</div>
	@functions
	{
	    [Parameter] public FileObject FileObject { get; set; }
	}