
    <div class="col s3 center @(Enabled ? "blue darken-1 step" : "blue darken-2 step")" style="height:unset">
        <div>
            <p style="margin-bottom: 0px">@Text</p>
            <p class="sample" style="color: white;margin-top:5px; margin-bottom: 20px"> @DetailedText </p>
        </div>
    </div>

    @functions
    {
        [Parameter] public bool Enabled { get; set; }
        [Parameter] public string Text { get; set; }
        [Parameter] public string DetailedText { get; set; }
    }
